src/main/mule/mobile-inventory-exp-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="mobile-inventory-exp-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8085" />
    </http:listener-config>
    <apikit:config name="mobile-inventory-exp-api-config" api="mobile-inventory-exp-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="79e38dd3-347f-4296-9386-b2e7a0f6893b" >
		<http:request-connection host="${prcupdatehost}" port="${prcupdateport}" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="5a50008e-9d53-4712-81e5-a21c03496b97" >
		<http:request-connection host="${prcselecthost}" port="${prcselectport}" />
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="85cc3217-1c76-4c94-b730-15785625018a" file="config\dev.properties" />
	<flow name="mobile-inventory-exp-api-main">
        <http:listener config-ref="mobile-inventory-exp-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mobile-inventory-exp-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mobile-inventory-exp-api-console">
        <http:listener config-ref="mobile-inventory-exp-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mobile-inventory-exp-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\mobileinvupdate:application\json:mobile-inventory-exp-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="7efb7962-2816-40fd-9d36-c9e428438996" message="#['Mobile Inventory process started - EXP API']"/>
		<flow-ref doc:name="Flow Reference" doc:id="babb0854-b7c1-4d1b-9b64-2640656ee307" name="mobileinventoryupdateSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="fdf8c727-dcf2-4562-8a89-4f95d2b78823" message="#['Mobile Inventory process completed - Exp API']"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="64433f08-c39f-44d9-b9bb-df7bf97c4fc8" >
				<logger level="ERROR" doc:name="Logger" doc:id="12a71c29-5cd2-495d-8acb-abd52cb4e74c" message="#['Error Occured - On error propagate started']"/>
				<ee:transform doc:name="Transform Message" doc:id="d161b641-a04e-475c-928f-03a60774c08e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
'Error occured while calling the Process API while upserting the data']]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="480d3974-694b-48ef-9adc-b95dece99736" message="#['Error Occured - On error propagate completed']"/>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="post:\mobileselect:application\json:mobile-inventory-exp-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="e42e5df5-c4e8-430f-a519-a6ecc05cea85" message="#['Mobile Inventory process started- EXP API']"/>
		<flow-ref doc:name="Flow Reference" doc:id="2f00ed17-9437-42e8-87cc-d48b9292541d" name="mobileinventoryselectSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="5f053db4-b913-41b0-b2e7-10ba183efdf5" message="#['Mobile Inventory process completed- Exp API']"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7abdaad1-966f-4059-8031-6c0cb5038352" >
				<logger level="ERROR" doc:name="Logger" doc:id="ddb52163-6ac0-4e31-9002-616f3629ca85" message="#['Error Occured - On error propagate started']"/>
				<ee:transform doc:name="Transform Message" doc:id="2148dcee-5e1e-417b-aa03-951c4fc53960" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
'Error occured while calling the process API while selecting the data']]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="c02fc012-c8ad-4966-a447-f7e7dccad5e2" message="#['Error Occured - On error propagate completed']"/>
			</on-error-propagate>
		</error-handler>
    </flow>
</mule>
